<div fxLayout="column" fFlexFill>
  
  <mat-form-field class="example-full-width">
   <input matInput placeholder="Estado" [(ngModel)]="pedido.estado" [formControl]="form.controls['estado']">
  </mat-form-field>
  
  <br/>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Autor" [(ngModel)]="recurso.autor" [formControl]="form.controls['autor']">
  </mat-form-field>
  
  <br/> 
  <mat-form-field>
    <mat-select placeholder="Tipo" [(value)]="tipoSeleccionado">
      <mat-option *ngFor="let tipo of tipos" [value]="recurso.tipyId">
        {{typeId.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <br/>
  
  <mat-form-field>
    <mat-select placeholder="Categoria" [(value)]="categoryId">
      <mat-option *ngFor="let categoria of categorias" [value]="recurso.categoryId">
        {{categoryId.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <br/>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="URL" [(ngModel)]="url"></textarea>
  </mat-form-field>
  
  <br/> 
  
  <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="saveRecurso()">Guardar</button>
 
</div>
